@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.dark-grey {
  background-color: #1e1e1e;
}
.light-grey {
  background-color: #232323;
}
.light-blue {
  background-color: #6ebce6;
}
.grey-hover {
  transition: background-color 0.25s ease;
}
.grey-hover:hover {
  background-color: #353535;
  outline: 2px solid #fff;
}
.sticky-navbar {
  position: sticky;
  top: 0;
}
.white-hover {
  transition: background-color 0.5s ease;
}
.white-hover:hover {
  background: transparent;
  outline: 1px solid #232323;
  color: #232323;
}
.product-hover {
  border: 1px solid #6a6a6a;
  text-align: center;
  transition: border 0.3s ease;
}
.product-hover:hover {
  border: 1px solid #000;
}
